
.dd {
    background: url("a.png") no-repeat;
    border: 0px #c12e2a solid;
    height: 700px;
    width: 100%;
    margin: 0 auto;
}
.d1 {
    width: 400px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.3);
    margin-top: 50px;
/ / 上边距
}

